[submodule "vim-rspec"]
	path = vim-rspec
	url = https://github.com/thoughtbot/vim-rspec
[submodule "tabular"]
	path = tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vim-bundler"]
	path = vim-bundler
	url = https://github.com/tpope/vim-bundler
[submodule "vim-rvm"]
	path = vim-rvm
	url = git://github.com/tpope/vim-rvm.git
[submodule "vim-i18n"]
	path = vim-i18n
	url = git://github.com/stefanoverna/vim-i18n.git
